@tailwind base;
@tailwind components;
@tailwind utilities;

/* 추후 변경 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

* {
  /* 
    [[ font ]] 
  */
  font-family: 'Pretendard Variable', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 
    [[ scroll ]]
  */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.ant-picker-input input {
  font-size: 3rem !important;
  text-align: center !important;

  --tw-bg-opacity: 1 !important;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity)) !important;
  border-radius: 0.5rem !important;

  cursor: pointer !important;
  caret-color: transparent !important;
}

.ant-picker-input input:hover {
  background-color: rgb(226 232 240 / 1) !important;
}

.ant-picker-panel {
  font-size: 1rem !important;
}

.ant-picker-cell-inner {
  font-weight: 500;
}
